
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

@model DomainModels.Models.User
<h2>Удаление книги</h2>
<dl>
    <dt>Логин</dt>
    <dd>
        @Html.DisplayFor(model => model.Login)
    </dd>

    <dt>Пароль</dt>
    <dd>
        @Html.DisplayFor(model => model.Password)
    </dd>

    <dt>ФИО</dt>
    <dd>
        @Html.DisplayFor(model => model.FIO)
    </dd>
</dl>

@using (Html.BeginForm())
{
    <input type="submit" value="Удалить" />
    @Html.ActionLink("Отмена","Index");
}
