@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Перейдте на вкладочку "Данные"</h1>
    <p class="lead">Калькулятор</p>
    <p><a href="Data/Index" class="btn btn-primary btn-lg">Перейти к данным &raquo;</a></p>
</div>
