
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Users</h2>

<div class="col-md-4">
    <h2>@ViewBag.User.FIO</h2>
    <p>@ViewBag.User.Login</p>
    <p>@ViewBag.User.Id</p>
</div>