
@{
    ViewBag.Title = "MasterData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Данные</h2>
        <div class="tabsLink">
            <a href="#tab1">Пользователи</a>
            <a href="#tab2">Операции</a>
            <a href="#tab3">Результаты</a>
            <a href="#tab4">Результаты пользователей</a>
        </div>

        <br>
        <a class="tabs" id="tab1"></a>
        <div class="tab">
            Содержимое вкладки 1 <br>
        </div>

        <a class="tabs" id="tab2"></a>
        <div class="tab">
            Содержимое вкладки 2 <br>
        </div>

        <a class="tabs" id="tab3"></a>
        <div class="tab">
            Содержимое вкладки 3 <br>
        </div>

        <a class="tabs" id="tab4"></a>
        <div class="tab">
            Содержимое вкладки 4 <br>
        </div>
        @RenderBody()


