
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Authenticate</title>
</head>
<body>
    <br>
    @using (Html.BeginForm())
    {

        <h1>Логин</h1>@Html.TextBox("names")
        
        <h1>Пароль</h1>@Html.TextBox("names")
        
        <input type="submit" value="Ок" />
    }
    <br>
</body>
</html>
